<ion-header>
        <ion-navbar>
            <ion-title>
                <p class="white">Organizations</p>
            </ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="goToEventFilter()">
                    <img src="assets/img/Filter.svg" alt="" style="height: 20px; width:20px;">
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
<ion-content>
 <ion-card style="position: relative;" *ngFor="let objective of organizations,let i = index" class="objectives-card">

        <ion-fab right top>
            <button ion-fab color="light" (click)="ellipsisController(objective.organization['name'], objective.id, i, objective.organization_id)"><ion-icon name="ios-more"></ion-icon></button>
            <!-- <ion-fab-list side="left">

                <button ion-fab (click)="hideItem(objective.id, i)"><ion-icon name="md-done-all"></ion-icon></button>
            </ion-fab-list> -->
        </ion-fab>

        <ion-item>
            <ion-avatar item-start>
                <img src="{{objective.organization['image_url']}}" (click)="goToOrganizationProfile(objective.organization_id)">
            </ion-avatar>
            <button (click)="goToOrganizationProfile(objective.organization_id)" style="background: none;">
        <h2> <small>via</small> {{objective.organization['name']}}</h2>
    </button>
            <p><small>{{objective.created_at | amTimeAgo}}</small></p>
        </ion-item>

        <div (click)="goToActionPage(objective.id)" class="organization-bg" [ngStyle]="{ 'background-image' : 'url(' + objective.image_url +')'}">
            <!-- <div class="days-excerpt">
                <p class="white">{{objective?.goals[0]?.description}}</p>
            </div> -->
            <div class="railled-excerpt" *ngIf="objective.rallies > 0">
                <p class="white"><strong>{{objective.rallies}}</strong><br> Rallied</p>
            </div>
            <div class="bottom-excerpt">
                <p class="white">{{objective?.title}}</p>
            </div>
            <div class="btn-objectives-contact">
                    <button ion-button *ngIf="objective?.goals[0]?.goal_type !== 'sign'">Contact</button>
                    <button ion-button *ngIf="objective?.goals[0]?.goal_type === 'sign'">Sign</button></div>
   
        </div>


        <ion-card-content>
            <p>{{objective.description | truncate : 200 : '...' }}</p>
            <!-- <ion-row>
                <ion-col col-8>
                    <p class="link">{{objective.likes}} Likes, {{objective.shares}} Shares</p>
                </ion-col>
                <ion-col col-4>
                    <button ion-button color="dark" class="action-btn" (click)="goToActionPage(objective.id)">Take action</button>
                </ion-col>
            </ion-row> -->
        </ion-card-content>
        <ion-row>
            <!-- <ion-col class="token" col-8>
                <p>You've taken action on this 3 times</p>
            </ion-col>
            <ion-col col-4 class="token-btn">
                <button ion-button icon-left clear full style="height: 30px; font-weight: 600;
    font-size: 13px;" (click)="hideItem(objective.id, i)">
          I'M DONE
      </button>
            </ion-col> -->

        </ion-row>

        <ion-row>
            <button [disabled]="disable" class="btn-50 right-border" ion-button icon-left clear full (click)="getLikeStatus($event, objective?.goals[0]?.id, goalLike)" [ngStyle]="{'background-color': findInLoop(objective?.goals[0]?.user_likes)}">
                <ion-icon name="ios-heart" ></ion-icon>
                {{objective.likes}}
            </button>
            <button [disabled]="disable" class="btn-50" ion-button icon-left clear full (click)="shareController(objective.title, 'https://sjdsdirectoryapp.senorcoders.com/ufittapp/IMG_20170802_124650.jpg', objective?.goals[0]?.id, shareAction, $event)">
                    <ion-icon name="ios-share-alt"></ion-icon>
                    {{objective.shares}}
                </button>

        </ion-row>

    </ion-card>

    <ion-card class="events-card" *ngFor="let event of events">

            <ion-fab right top>
                <button ion-fab color="light" (click)="eventEllipsisController(event.organization[0].name, event.organization_id, event.title)" ><ion-icon name="ios-more"></ion-icon></button>
                <!-- <ion-fab-list side="left">
    
                    <button ion-fab><ion-icon name="md-done-all"></ion-icon></button>
                </ion-fab-list> -->
            </ion-fab>
    
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="event.organization[0].image_url ? event.organization[0].image_url : testPhoto" (click)="goToOrganizationProfile(event.organization_id)">
                </ion-avatar>
                <button (click)="goToOrganizationProfile(event.organization_id)" style="background: none; padding-left:0; max-width: 85%;">
                    <h2 text-wrap style="text-align: left; "> <small>via</small> {{event.organization[0].name}}</h2>
                </button>
                <p><small>Event Location: {{event.locations}}</small></p>
            </ion-item>
            <div class="events-bg" (click)="goToEventDetail(event.id)" [ngStyle]="{'background-image': 'url(' + event.image_url + ')'}">
                <div class="events-filter"></div>
                <div class="events-railled" *ngIf="event.attending > 0">
                    <p class="white"><strong>{{event.attending}}</strong><br> Attending</p>
    
                </div>
                <div class="date-events-spans" *ngIf="event.start_date != null">
                    <span class="day">{{getDay(event.start_date)}}</span>
                    <span class="month">{{event.start_date | amFromUtc | amDateFormat:'LL'}}</span>
                </div>
            </div>
            <ion-card-content (click)="goToEventDetail(event.id)">
                <ion-card-title>{{event.title}}</ion-card-title>
                <!-- <p class="event-description">{{event.description}}</p> -->
            </ion-card-content>
    
            <ion-row>
                <button [disabled]="disable" class="btn-50 right-border" ion-button icon-left clear full (click)="getLikeStatus($event, event.id, eventLike)" [ngStyle]="{'background-color': findInLoop(event?.user_likes)}">
                    <ion-icon name="ios-heart" ></ion-icon>
                    {{event.likes}}
                </button>
                <button [disabled]="disable" class="btn-50" ion-button icon-left clear full (click)="shareController(event.title, testPhoto, event.id, shareAction, $event)">
                        <ion-icon name="ios-share-alt"></ion-icon>
                        {{event.shares}}
                    </button>
    
            </ion-row>
    
        </ion-card>
        
</ion-content>