<ion-header>
    <ion-navbar>
        <ion-title>
            <p class="white">Thank You</p>
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Done</span>
              <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
          </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-row class="yellow-bg">
        <img src="assets/img/icon.png" alt="">
        <h1>Great Job, {{username}}! <br> Thanks for Rallying</h1>
      </ion-row>
      <ion-row>

      </ion-row>
      <ion-row padding *ngIf="startCount > 0">
        <p>CURRENT STREAK: <strong>{{starCount}} DAYS</strong></p> 
      </ion-row>
      <ion-row padding class="streak-row" *ngIf="startCount > 0">
        <ion-col col-2 *ngFor="let star of starArray">
            <ion-icon name="star"></ion-icon>
        </ion-col>

    </ion-row>
    <ion-row padding *ngIf="countWeek > 0">
            <p>WEEKLY TOTAL: <strong>{{countWeek}} ACTIONS</strong></p> 

    </ion-row>
</ion-content>
<ion-footer>
    <ion-row *ngIf="accountStatus === '1'" style="justify-content:center;">
        <p><small>Sharing will also automatically publish to Rally's public feed.</small></p>
    </ion-row>
  <button ion-button full icon-left (click)="shareController()">
    <ion-icon name="ios-share-alt-outline"></ion-icon>
    SHARE THIS ACTION
  </button>
</ion-footer>