<ion-header>
  <ion-navbar>
      <ion-title>
          <p class="white" text-wrap>Find Representatives</p>
      </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onSearchInput()"  [(ngModel)]="searchTerm" [formControl]="searchControl"   [showCancelButton]="shouldShowCancel" [debounce]="500" (ionCancel)="cancel()"></ion-searchbar>
  
  <ion-list>
      <ion-list-header>
        All Representatives
      </ion-list-header>
      <ion-item *ngFor="let rep of items, let i = index">
          <ion-avatar item-start (click)="goToRepProfile(rep.id)">
            <img [src]="rep.photo_url ? rep.photo_url : 'assets/img/icon.png'"  style="border:2px solid #ada8a8;">
          </ion-avatar>
          <h2 text-wrap (click)="goToRepProfile(rep.id)">{{rep.name}}</h2>
          <p class="text-wrap" *ngIf="rep.rep_type === 'sen'"> <small>Senator of {{rep.state}}</small></p>
          <p class="text-wrap" *ngIf="rep.rep_type === 'rep'"> <small>Representative of {{rep.state}}</small></p>

          <button (click)="followRep(rep.id, $event)" ion-button clear item-end style="background: #4a90e2;
          color: #fff;
          border-radius: 4px;
          padding: 10px 15px;">{{findInLoop(rep.followers)}}</button>
        </ion-item>
    </ion-list>
    
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content 
        loadingSpinner="bubbles"
        loadingText="Loading more..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>