page-representives-list {
    .timeline-item{
        min-height: 100px;
    }
    .toolbar-background {
        background-color: #f4512c !important;
        color: #fff;
    }

    p.white {
        color: #f2f2f2;
        margin: 0;
    }

    .item-inner{
        border:none !important;
    }

    .searchbar-input{
        box-shadow: none !important;
        background: #e8e7e7 !important;
        border-radius: 7px !important;
    }

    ion-list-header{
        background: #dedede !important;
        .label{
            text-transform: uppercase;
            color: #000;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .follow-btn{
        // height: auto;
    padding: 10px !important;
    background: #296fb7;
    color: #f2f2f2;
    border: 1px solid #296fb7;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    // min-width: 80px;
    box-shadow: none;
    border-radius: 6px;
    height: 3.6rem !important;
    .button-inner{
        width: 100px !important;
        font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;
        font-size: 14px !important;

    }
}
}
