<?xml version='1.0' encoding='utf-8'?>
<widget id="com.senorcoders.rallyup" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rally</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
    <universal-links>
        <host name="https://eq7vf.app.goo.gl/" scheme="https" />
        <host name="rally-up-12c9b.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://ionic.local/*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="2048" src="resources/ios/splash/Default-Landscape@~ipadpro.png" width="2732" />
        <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="2732" src="resources/ios/splash/Default-Portrait@~ipadpro.png" width="2048" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
        <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
    </platform>
    <allow-navigation href="http://192.168.8.107:8100" />
    <allow-navigation href="http://192.168.88.55:8101" />
    <allow-navigation href="http://192.168.8.104:8101" />
    <allow-navigation href="http://192.168.8.104:8100" />
    <allow-navigation href="http://192.168.88.55:8100" />
    <allow-navigation href="http://192.168.8.103:8100" />
    <allow-navigation href="http://192.168.8.101:8100" />
    <allow-navigation href="http://192.168.88.32:8100" />
    <allow-navigation href="http://192.168.8.105:8100" />
    <allow-navigation href="http://192.168.8.106:8100" />
    <allow-navigation href="http://192.168.0.10:8100" />
    <allow-navigation href="http://192.168.88.25:8100" />
    <allow-navigation href="http://192.168.8.100:8100" />
    <allow-navigation href="http://192.168.57.1:8100" />
    <allow-navigation href="http://192.168.8.102:8100" />
    <allow-navigation href="http://192.168.88.36:8100" />
    <allow-navigation href="http://192.168.1.22:8100" />
    <allow-navigation href="http://192.168.88.40:8100" />
    <allow-navigation href="http://192.168.8.108:8100" />
    <allow-navigation href="http://192.168.88.45:8100" />
    <allow-navigation href="http://192.168.8.103:8101" />
    <allow-navigation href="http://169.254.244.109:8100" />
    <allow-navigation href="http://169.254.127.133:8100" />
    <allow-navigation href="http://169.254.88.153:8100" />
    <allow-navigation href="http://169.254.96.40:8100" />
    <allow-navigation href="http://169.254.114.177:8100" />
    <allow-navigation href="http://169.254.126.171:8100" />
    <allow-navigation href="http://192.168.1.18:8100" />
    <allow-navigation href="http://169.254.136.91:8100" />
    <engine name="android" spec="6.3.0" />
    <plugin name="cordova-plugin-buildinfo" spec="^1.1.0" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-console" spec="^1.0.5" />
    <plugin name="cordova-plugin-device" spec="^1.1.4" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.1" />
    <plugin name="com.synconset.imagepicker" spec="~2.1.8">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="choose profile picture" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="~2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-facebook4" spec="~1.9.1">
        <variable name="APP_ID" value="163624830854172" />
        <variable name="APP_NAME" value="Rally U" />
    </plugin>
    <plugin name="twitter-connect-plugin" spec="https://github.com/chroa/twitter-connect-plugin">
        <variable name="FABRIC_KEY" value="3c645ae4b4b4f24dc1bb3bdba248f53e7a904d79" />
        <variable name="TWITTER_KEY" value="mX4bWG9qdpR8eRcDO3AjbbLKI" />
        <variable name="TWITTER_SECRET" value="RkghHyvOiYsLLDhynTGm1gjZUBtEyn0OMNzmt61rmWGqfnSb0Y" />
    </plugin>
    <plugin name="cordova-plugin-customurlscheme" spec="~4.3.0">
        <variable name="URL_SCHEME" value="com.senorcoders.rallyup" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="phonegap-plugin-push" spec="~1.10.5">
        <variable name="SENDER_ID" value="1017475098724" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.8" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="com-sarriaroman-photoviewer" spec="~1.1.11" />
    <plugin name="com.moust.cordova.videoplayer" spec="https://github.com/moust/cordova-plugin-videoplayer.git" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <engine name="ios" spec="~4.3.1" />
    <allow-navigation href="http://169.254.55.151:8100" />
    <allow-navigation href="http://169.254.64.161:8100" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <allow-navigation href="http://169.254.60.5:8100" />
    <allow-navigation href="http://169.254.37.219:8100" />
    <allow-navigation href="http://169.254.188.89:8100" />
    <allow-navigation href="http://169.254.27.211:8100" />
    <plugin name="cordova-plugin-nativegeocoder" spec="~2.0.4">
        <variable name="LOCATION_WHEN_IN_USE_DESCRIPTION" value="Use geocoder service" />
    </plugin>
    <allow-navigation href="http://192.168.88.69:8100" />
    <allow-navigation href="http://169.254.160.198:8100" />
    <allow-navigation href="http://169.254.241.186:8101" />
    <allow-navigation href="http://169.254.49.162:8101" />
    <allow-navigation href="http://169.254.162.129:8100" />
    <allow-navigation href="http://169.254.109.134:8100" />
    <allow-navigation href="http://169.254.82.149:8100" />
    <allow-navigation href="http://169.254.229.40:8100" />
    <allow-navigation href="http://169.254.125.230:8100" />
    <allow-navigation href="http://169.254.107.238:8100" />
    <allow-navigation href="http://169.254.73.77:8100" />
    <allow-navigation href="http://169.254.158.187:8100" />
    <allow-navigation href="http://169.254.170.105:8100" />
    <allow-navigation href="http://169.254.25.46:8100" />
    <allow-navigation href="http://169.254.82.96:8100" />
    <plugin name="cordova-plugin-contacts" spec="~3.0.1" />
    <allow-navigation href="http://169.254.88.186:8100" />
    <allow-navigation href="http://169.254.41.241:8100" />
    <allow-navigation href="http://169.254.130.111:8100" />
    <allow-navigation href="http://169.254.150.146:8100" />
    <allow-navigation href="http://169.254.48.56:8100" />
    <allow-navigation href="http://169.254.151.98:8100" />
    <allow-navigation href="http://169.254.188.61:8100" />
    <allow-navigation href="http://169.254.239.32:8100" />
    <allow-navigation href="http://169.254.105.72:8100" />
    <allow-navigation href="http://169.254.100.134:8100" />
    <allow-navigation href="http://169.254.35.15:8100" />
    <allow-navigation href="http://192.168.1.122:8100" />
    <allow-navigation href="http://169.254.116.178:8100" />
    <allow-navigation href="http://192.168.1.9:8100" />
    <allow-navigation href="http://169.254.77.16:8100" />
    <allow-navigation href="http://169.254.41.78:8100" />
    <allow-navigation href="http://169.254.98.58:8100" />
    <allow-navigation href="http://192.168.8.109:8100" />
    <allow-navigation href="http://169.254.5.161:8100" />
    <allow-navigation href="http://169.254.173.125:8100" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <allow-navigation href="http://169.254.122.81:8100" />
    <allow-navigation href="http://169.254.238.117:8100" />
    <allow-navigation href="http://169.254.138.62:8100" />
    <allow-navigation href="http://169.254.213.24:8100" />
    <allow-navigation href="http://169.254.2.76:8100" />
    <allow-navigation href="http://169.254.235.198:8100" />
    <allow-navigation href="http://169.254.196.48:8100" />
    <allow-navigation href="http://169.254.151.242:8100" />
    <allow-navigation href="http://169.254.181.179:8100" />
    <allow-navigation href="http://169.254.131.52:8100" />
    <allow-navigation href="http://169.254.60.31:8100" />
    <allow-navigation href="http://169.254.13.87:8100" />
    <allow-navigation href="http://169.254.6.237:8100" />
    <allow-navigation href="http://169.254.248.75:8100" />
    <allow-navigation href="http://169.254.51.118:8100" />
    <plugin name="cordova-plugin-appsee" spec="~2.3.65" />
    <allow-navigation href="http://169.254.84.13:8100" />
    <allow-navigation href="http://169.254.94.128:8100" />
    <allow-navigation href="http://169.254.58.218:8100" />
</widget>
