page-invite-friends {

    ion-content{
        top: 60px;
    }

    .invite-btn{
        background: #356fba !important;
        border-radius: 6px;
        padding: 0 !important;
        font-size: 14px;
        text-transform: uppercase;
        color: #f2f2f2 !important;
        height: 3.6rem !important;
        letter-spacing: 1px;
        .button-inner{
            width: 100px !important;

        }
    }

}
