page-public-profile {
    a[disabled], button[disabled], [ion-button][disabled]{
        opacity: 1 !important;
    }
//  ion-header {
//         text-align: center;
//     }

.btn-50 {
    width: 50%;
    height: 50px;
    margin: 0;
}

.right-border {
    border-right: 1px solid #f2f2f2;
}

.simple-title {
    border: none;
    background: transparent;
    margin-bottom: 0px !important;
    border-bottom: 2px solid #e9e9e9;
}
    ion-content {
        background-color: #fff !important;
        top: 45px !important;
    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    p.white {
        color: #f2f2f2;
        margin: 0;
    }
    .button-outline-md-light,
    .button-outline-ios-light {
        border-color: #222;
        background-color: #fff;
        color: #222;
        font-weight: 400;
        border-radius: 5px;
        height: auto;
        padding: 8px 10px;
        font-size: 11px;
        text-transform: uppercase;
        width: 80%;
    }
    .profile-img {
        img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
        }
    }
    .profile-counts {
        text-align: center;

        p.small {
            margin: 0;
            font-size: 12px;
        }
    }
    .profile-headshot {
        h4 {
            margin: 5px 0;
            font-size: 18px;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
    }
    ion-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        position: relative;
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue-icon {
            color: #4a90e2;
        }
        .inactive {
            background-color: #dfdfdf;
        }
        .friend-headshot {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            bottom: 0;
            left: 10px;
            bottom: 10px;
            border: 3px solid #fff;
        }
        .heart-btn{
        	margin: 0;
        }


        .blue-card {
             background-color: #f2f2f2;
        color: #bfbfbf;
            border-right: 1px solid #fff;
        }

        
        .button-clear-ios, .button-clear-md {
            background-color: #f2f2f2;
        color: #bfbfbf;
        }
    }
    .profile-rep {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    .boldName{
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 1px;
    }

    .profile-counts{
        h4{
            font-size: 30px;
            font-weight: 200;
        }
    }

    .follow-btn{
        background: #356fba;
        color: #f2f2f2;
        border: none;
        border-radius: 0;
        font-size: 14px;
        width: 100%;
        border-radius: 6px;
        text-transform: uppercase;
        font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;
    }

    .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #f66240;
        }
}
