page-events-result {
    .rally-search {
        .searchbar-input {
            border-radius: 7px !important;
            background: #3b70ad !important;
            padding: 2px 55px !important;
            color: #fff !important;
        }
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    ion-title {
        color: #fff;
    }
    p.white {
        color: #f2f2f2;
        margin: 0;
    }
    ion-content {
        top: 60px;
        background: #d8d8d8 !important;
        
    }
    .events-card{
        position:relative;
         margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        small {
            color: #868686;
            font-weight: normal;
        }
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #b6b6b6;
        }

        .event-description{
            color: #868686;
            //font-weight: 200;
        }

        ion-card-title{
            font-size: 18px !important;
            font-weight: 500;
        }

        .events-bg{
            height: 100px;
            position:relative;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            .events-filter{
                position: absolute;
                bottom: 0;
                top:0;
                right: 0;
                left: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
            }

            .events-railled{
                position:absolute;
                right: 10px;
                top: 30%;
                z-index: 99;
                p{
                    font-size: 17px;
                    text-align: center;
                }


            }

            .date-events-spans{
                position: absolute;
                z-index: 99;
                color: white;
                left: 20px;
                bottom: 20px;
                span.day{
                  background: #000;
                  padding: 5px 10px;
                }
                span.month{
                background: #f2f2f2;
                padding: 5px 10px;
                color: #000;
                //font-weight: 100;
                text-transform: uppercase;
                margin-left: -5px;

                }
            }
        }

        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }

        .btn-50 {
        width: 50%;
        height: 50px;
        margin: 0;
    }
    p.white {
        color: #fff;
        margin: 0;
    }

    .button-clear-md, .button-clear-ios {
        background-color: #f2f2f2;
        color: #bfbfbf;
    }

    .right-border {
        border-right: 1px solid #f2f2f2;
    }
    }
}