page-event-detail {
    .button-clear-md,
    .button-clear-ios {
        background-color: #4a90e2;
        color: #fff;
        height: 30px;
    }
   
    .btn-50 {
        width: 50%;
        height: 50px !important;
        margin: 0;
        background-color: #f2f2f2;
        color: #bfbfbf;
    }

    .right-border {
        border-right: 1px solid #fff;
    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    ion-content {
        background-color: #f2f2f2 !important;
        top: 60px;
    }
    p.white {
        color: #fff;
        margin: 0;
    }
    .blue {
        background-color: #4a90e2;
        border-right: 1px solid #fff;
    }
    .event {
        .title {
            vertical-align: sub;
            color: #666;
            font-weight: 800;
            font-size: 1em;
        }
        .time {
            top: 47px;
            left: 0px;
            button {
                padding: 1em;
                background-color: rgba(255, 167, 0, 0.64);
                color: #fff;
                font-weight: 600;
            }
        }
        .caption {
            background-color: #e2dede;
            padding: 1em 1em;
            font-size: 0.8em;
            top: -5px;
            position: relative;
        }
        .cta {
            span {
                font-size: 1em;
                vertical-align: -webkit-baseline-middle;
                font-weight: 900;
                color: #666;
            }
            button {
                height: 28px;
                font-size: 0.9em;
                width: 80% !important;
                text-align: center;
                span {
                    color: #fff;
                }
            }
        }
        .address {
            font-size: 0.8em;
            color: #666;
        }
        .hour {
            font-size: 0.8em;
            color: #666;
        }
        .content {
            color: #666;
            border-top: solid 1px #666;
            h2 {
                font-size: 1.1em;
            }
        }
        .add-calendar {
            background-color: #666;
            font-size: 0.9em;
        }
        button.count-me-in {
            padding: 2.5em 0em;
            font-size: 1.2em;
            background: #296fb7;
        }
        .events {
            padding: 0px !important;
            margin: 0px !important;
            height: 100% !important;
            span {
                text-align: left;
            }
        }
    }

    .events-card{
        position:relative;
         margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        small {
            color: #8f8f8f;
            font-weight: normal;
        }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #cecece;
        }

        .event-description{
            color: #8f8f8f;
            //font-weight: 200;
        }

        ion-card-title{
            font-size: 18px !important;
            font-weight: 500;
        }

        .events-bg{
            height: 240px;
            position:relative;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            .events-filter{
                position: absolute;
                bottom: 0;
                top:0;
                right: 0;
                left: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
            }

            .events-railled{
                position:absolute;
                right: 10px;
                bottom: 20px;
                z-index: 99;
                p{
                    font-size: 17px;
                    text-align: center;
                }


            }

            .date-events-spans{
                position: absolute;
                z-index: 99;
                color: white;
                left: 20px;
                bottom: 20px;
                span.day{
                  background: #000;
                  padding: 5px 10px;
                }
                span.month{
                background: #f2f2f2;
                padding: 5px 10px;
                color: #000;
                //font-weight: 100;
                text-transform: uppercase;
                }
            }
        }
    }

    button.count-me-in {
        padding: 2.5em 0em;
        font-size: 1.2em;
        background: #6291cb;
    }
}