rally-name-header {
    .toolbar-background {
        background: #f4512c !important;
    } 

    p.white {
        color: #fff;
        margin: 0;
    }

    ion-header{
        text-align: center;
    }

    // .back-button {
    //     position: fixed !important;
    // }
}
