page-public-feed {
    ion-content{
    top: 45px;
    }
    ion-header {
        text-align: center;
    } 

    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    ion-content {
        background-color: #f2f2f2 !important;
    }

    p.white {
        color: #f2f2f2;
        margin: 0;
    }

    .button-clear-md {
        background-color: #4a90e2;
        color: #fff;
        height: 30px;
    }
    .action-btn {
        height: auto;
        padding: 5px 10px;
        background: transparent;
        color: #222;
        border: 1px solid #222;
        font-size: 12px;
        text-transform: uppercase;
    }
    .simple-card {
        position: relative;
        .button {
            border-radius: 0;
            height: 29px;
            font-size: 13px;
        }
        ion-col {
            padding: 5px 0 !important;
        }
        ion-card-content {
            h3 {
                font-weight: 600 !important;
                font-size: 1.3em !important;
            }
            p,
            strong {
                font-size: 11px !important;
            }
        }
    }

    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
    small {
        color: #868686;
        font-weight: normal;
    }
    .item-md ion-avatar img,
    .item-ios ion-avatar img {
        border: 2px solid #b6b6b6;
    }
    .organization-bg {
        height: 195px;
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        .bottom-excerpt {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
            padding: 10px;
            font-weight: 600;
            right: 0;
            left: 0;
            top: 0;
            align-items: flex-end;
            display: flex;
            p {
                font-size: 17px;
                width: 70%;
            }
        }
    }
    .days-excerpt {
        position: absolute;
        padding: 10px;
        background: #e7b157;
        font-weight: 600;
    }
    .railled-excerpt {
        position: absolute;
        right: 0;
        padding: 20px;
        font-weight: 600;
        top: 30%;
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 99;
        p {
            text-align: center;
            strong {
                font-size: 20px;
            }
        }
    }

    .btn-objectives-contact{
        position: absolute;
        right: 5px;
        bottom: 10px;

        button{
                background: #f4512c !important;
            text-transform: uppercase !important;
        }

    }
    .fab-md-light,
    .fab-ios-light {
        background: none;
        border: none;
        box-shadow: none;
    }
    .blue {
        background-color: #4a90e2;
        border-right: 1px solid #fff;
    }
    .link {
        color: #4a90e2;
        line-height: 30px;
    }
    
    .token {
        background-color: #e6e6e6;
        border: none;
        p {
            font-weight: 500;
            padding-left: 5px;
            padding-top: 10px;
        }
    }
    .token-btn {
        background-color: #d3cfcf;
        border: none;
        .button-clear-md {
            background-color: #d3cfcf;
        }
    }
    .button-outline-md-light,
    .button-outline-ios-light {
        border-color: #222;
        background-color: #fff;
        color: #222;
        font-weight: 400;
        border-radius: 5px;
        height: auto;
        padding: 8px 10px;
        font-size: 11px;
        text-transform: uppercase;
        width: 80%;
    }
    .action-btn {
        height: auto;
        padding: 5px 10px;
        background: transparent;
        color: #222;
        border: 1px solid #222;
        font-size: 12px;
        text-transform: uppercase;
    }

    ion-content{
        background: #d8d8d8 !important;
    }
           

}
