page-sync-contacts {
    ion-content{
        top: 60px;
        background: #fdfaf2;
        text-align: center;

        img{
            margin-top: 40px;
            // padding-bottom: 15px;
        }
        h1{
            font-size: 30px;
        }
    }

    .footer-btn{
        height: 80px;
        background: #356fba !important;
    }
}
