<rally-orange-header></rally-orange-header>
<ion-content>
    <ion-list>
            <ion-list-header>
                    New
                  </ion-list-header>
        <ion-item-sliding *ngFor="let alert of alerts" >
        <ion-item *ngIf="alert.what !== 'read'">
            <ion-avatar item-start>
                <img src="assets/img/login-image.jpg">
            </ion-avatar>
            <p>{{alert.data}}</p>
       
             
        </ion-item>

             <ion-item-options side="right">
                <button ion-button color="primary" (click)="markAsRead(alert.id)">
                  <ion-icon name="md-done-all"></ion-icon>
                  Read
                </button>
                <button ion-button color="danger" (click)="removeNotification(alert.id)">
                  <ion-icon name="ios-trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
        </ion-item-sliding>

        
    </ion-list>


    <ion-list>
            <ion-list-header>
                    Previous
                  </ion-list-header>
        <ion-item-sliding *ngFor="let alert of alerts" >
        <ion-item *ngIf="alert.what === 'read'">
            <ion-avatar item-start>
                <img src="assets/img/login-image.jpg">
            </ion-avatar>
            <p>{{alert.data}}</p>
       
             
        </ion-item>

             <ion-item-options side="right">
               
                <button ion-button color="danger" (click)="removeNotification(alert.id)">
                  <ion-icon name="ios-trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
        </ion-item-sliding>

        
    </ion-list>
   

       


</ion-content>

