page-alerts {

    ion-header {
        text-align: center;
    }
    ion-content{
    top: 45px;
}
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    
    p.white {
        color: #f2f2f2;
        margin: 0;
    }
    .item-block {
        border-bottom: 1px solid #c8c7cc;
        .item-inner {
            border: none !important;
        }
    }

    .action-btn {
        // height: auto;
        background: #fff;
        color: #6D6D72;
        border: 1px solid #989898;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: -0.36px;
        padding: 5px !important;
        // min-width: 80px;
        box-shadow: none;
        border-radius: 6px;
        .button-inner{
            width: 100px !important;
            font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;
            font-size: 14px !important;
    
        }
    }

    .btn-follow{
        background: #296fb7 !important;
        color: #f2f2f2 !important;
        border-color: #296fb7 !important;
        height: 3.5rem !important;

    }
}

