page-alerts {

    ion-header {
        text-align: center;
    }
    ion-content{
    top: 60px;
}
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    ,
    p.white {
        color: #fff;
        margin: 0;
    }
    .item-block {
        border-bottom: 1px solid #c8c7cc;
        .item-inner {
            border: none !important;
        }
    }
}

