page-profile {
    a[disabled], button[disabled], [ion-button][disabled]{
        opacity: 1 !important;
    }
    .rally-header-logo {
        width: 50px;
        filter: brightness(0) invert(1);
    }
    .toolbar-background {
        background: #f4512c !important;
    } 

    p.white {
        color: #f2f2f2;
        margin: 0;
    }

   

    .btn-50 {
        width: 50%;
        height: 50px;
        margin: 0;
    }

    .right-border {
        border-right: 1px solid #f2f2f2;
    }
    ion-header{
        text-align: center;
    }
    .simple-title {
        border: none;
        background: transparent;
        margin-bottom: 0px !important;
        border-bottom: 2px solid #e9e9e9;
    }
    ion-content {
        background-color:transparent !important;
        top: 0 !important;
    }
    
   
    .button-outline-md-light,
    .button-outline-ios-light {
        border-color: #222;
        background-color: #fff;
        color: #222;
        font-weight: 400;
        border-radius: 5px;
        height: auto;
        padding: 8px 10px;
        font-size: 11px;
        text-transform: uppercase;
        width: 80%;
    }
    .profile-img {
        img {
            border-radius: 50%;
            height: 80px;
            width: 80px;
            border: 2px solid #f94f1f;
        }
    }
    .profile-counts {
        text-align: center;
        p.small {
            margin: 0;
            font-size: 12px;
            color: #747479;
        }

        h4{
            font-size: 25px;
            font-weight: 200;
            a{
                color: #222;
                text-decoration: none;
            }
        }
    }
    .profile-headshot {
        h4 {
            margin: 5px 0;
            font-size: 18px;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
    }
    ion-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        position: relative;
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue-icon {
            color: #4a90e2;
        }
        .inactive {
            background-color: #dfdfdf;
        }
        .friend-headshot {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            bottom: 0;
            left: 10px;
            bottom: 10px;
            border: 3px solid #fff;
        }
        .heart-btn{
        	margin: 0;
        }


        .blue-card {
             background-color: #f2f2f2;
        color: #bfbfbf;
            border-right: 1px solid #fff;
        }

        
        .button-clear-ios, .button-clear-md {
            background-color: #f2f2f2;
        color: #bfbfbf;
        }
    }
    .profile-rep {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    

    .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #f66240;
        }
    .username-h4{
        font-weight: 900;
        margin-top: 10px !important;
    }

    .align-right{
        text-align: right;
        margin-top: 5px;
    }

    .edit-btn{
        border: none !important;
        font-size: 12px !important;
    }

    .reps-btn{
        background: #fff;
        color: #989898;
        border: 1px solid #989898;
        border-radius: 0;
        font-size: 14px;
        width: 100%;
        border-radius: 6px;
        text-transform: uppercase;
        font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;
    }

    .streak-row{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        p{
            font-size: 18px;
            margin-top: 0 !important;
        }

        .icon {
            font-size: 3em;
            color: #ffc12b;
        }
    }

    .drop-icon{
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 2.7rem !important;
        color: #000 !important;
    }
}

.active-icons {
    text-align: center;
    font-size: 22px;
    background-color: #fff;
    color: #356eb1;
}

.bar-button-default-ios,
.bar-button-default-md {
    color: #fff;
}

.profile-cards{
    background: #d8d8d8 !important;
    padding-bottom: 5px;
}