<ion-header>
    <ion-navbar>
        <ion-title>
            <p class="white">My Profile</p>
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="goToRequests()">
       <img src="assets/img/add.svg" alt="" style="height: 20px; width:20px;">
      </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToSettings()">
                <img src="assets/img/Settings.svg" alt="" style="height: 24px; width:24px;">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row padding style="padding-bottom: 0;">
        <ion-col col-4 class="profile-headshot">
            <ion-avatar item-start class="profile-img">
                <button ion-button transparent icon-only (click)="showPhotoViewer(user.phoyoURL)" style="background: transparent; height: auto;">
          <img src="{{user.photoURL}}">
      </button>
            </ion-avatar>
          
        </ion-col>
        <ion-col col-8 class="profile-counts">
            <ion-row>
                <ion-col>
                    <h4>{{user.actions_taken}}</h4>
                    <p class="small">Actions</p>
                </ion-col>
                <ion-col (click)="goToFollowedCandidates()">
                    <h4>{{user.followers_count}}</h4>
                    <p class="small">Followers</p>
                </ion-col>
                <ion-col (click)="goToFollowedOrganizations()">
                    <h4>{{user.organizations_count}}</h4>
                    <p class="small">Following</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <button class="reps-btn" ion-button color="light" outline (click)="goToReps()">My Representatives</button>
                
            </ion-row>

        </ion-col>
            <ion-col col-7>
                <h4 class="username-h4">{{user.displayName}}</h4>
                <p style="color: #747479; margin-top: 0px;">{{user.location}}</p>
            </ion-col>
            <ion-col col-5 class="align-right">
                <button class="edit-btn" ion-button icon-right outline (click)="goToEditProfile()">
                    Edit Profile 
                    <ion-icon name="md-create"></ion-icon>
                </button>
                
            </ion-col>
        <ion-col col-12 >
            <p text-wrap style="margin-top: 0;">{{user.description}}</p>
        </ion-col>
       
    </ion-row>

   

    <ion-row padding class="streak-row" (click)="onButtonClick()">
        <p>Current Streak: <strong>{{starCount}}</strong></p>
        <ion-icon class="drop-icon" [name]="buttonClicked ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
    </ion-row>
    <div *ngIf="buttonClicked">
    <ion-row padding class="streak-row">
        <ion-col col-2 *ngFor="let star of starArray">
            <ion-icon name="star"></ion-icon>
        </ion-col>

    </ion-row>
    <ion-row padding class="streak-row">
        <p>Previous Streak: <strong>3</strong></p>
    </ion-row>
    <ion-row padding class="streak-row">
        <ion-col col-2>
            <ion-icon name="star"></ion-icon>
        </ion-col>
        <ion-col col-2>
            <ion-icon name="star"></ion-icon>
        </ion-col>
        <ion-col col-2>
            <ion-icon name="star"></ion-icon>
        </ion-col>

    </ion-row>
    <ion-row padding class="streak-row">
        <p>Longest Streak: <strong>6</strong></p>
    </ion-row>
</div>
    <ion-row>
        <ion-col col-12>
            <ion-list>
                <ion-list-header class="simple-title">
                    MY IMPACT
                </ion-list-header>
                <ion-item (click)="onToggleSecond()">Actions Taken <span item-end>{{user.actions_taken}}</span> 
                <ion-icon item-end [name]="secondToggleBtn ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
                </ion-item>
                <div *ngIf="secondToggleBtn">
                    <ion-item>Call <span item-end>9</span></ion-item>
                    <ion-item>Fax <span item-end>9</span></ion-item>
                    <ion-item>Email <span item-end>9</span></ion-item>
                    <ion-item>Tweet <span item-end>9</span></ion-item>
                    <ion-item>Sign <span item-end>9</span></ion-item>
                    <ion-item>Donate <span item-end>9</span></ion-item>
                    <ion-item>Share <span item-end>9</span></ion-item>
                </div>

            </ion-list>
        </ion-col>
    </ion-row>

    <ion-list-header class="simple-title">
            MY  ACTIVITY FEED
        </ion-list-header>
    

        <ion-card *ngFor="let activity of user.my_activity">
                <ion-fab right top style="top: 4px; right: 0;">
                    <button ion-fab color="light"><ion-icon name="ios-more"></ion-icon></button>
                    <ion-fab-list side="left">
                        <button ion-fab><ion-icon name="md-done"></ion-icon></button>
             
                    </ion-fab-list>
                </ion-fab>
        
                   
                            <ion-item>
                                <ion-avatar item-start>
                                  <img src="{{user.photoURL}}">
                                </ion-avatar>
                                <h2 >{{user.displayName}}</h2>
                                <div style="display: flex;">
                                    <p>{{activity.created_at | amTimeAgo}}</p>
                                    
                                </div>
                                
        
                              </ion-item>
                        <ion-card-content>
                           
                             <p>{{activity.description}}</p>
                        </ion-card-content>
               
        
                <ion-fab right bottom style="bottom: 50px;  right: 0;">
                    <div class="blue-icon" ion-fab color="light">
                        <img  src="assets/img/Contact-Orange.svg" alt="" style="width: 25px;">
                    </div>
                </ion-fab>
        
                <ion-row>
                    <ion-col class="blue-card">
                        <button ion-button icon-left clear full>
                <ion-icon name="md-heart" ios="md-heart" md="ios-heart"></ion-icon>
                371
              </button>
                    </ion-col>
                    <ion-col class="blue-card" style="border-right: none;">
                        <button ion-button icon-left clear full>
                <ion-icon name="ios-share-alt"></ion-icon>
                12
              </button>
                    </ion-col>
        
                </ion-row>
                </ion-card>

</ion-content>

