<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: left !important; order: 1;">
            <p>Filter Events</p>
            <small *ngIf="events"> <img src="assets/img/Events.svg" alt="" style="height:20px; width:20px; padding-right:5px;"> Events Feed</small>
            <small *ngIf="orgs"> <img src="assets/img/Org.svg" alt="" style="height:20px; width:20px; padding-right:5px;"> Organizations Feed</small>
            <small *ngIf="home"> <img src="assets/img/Home.svg" alt="" style="height:20px; width:20px; padding-right:5px;"> Home Feed</small>


        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="dismiss()">
                <!-- <ion-icon name="md-close"></ion-icon> -->
                <img src="assets/img/Close.svg" style="height:15px; width:15px;">
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
            <ion-item style="background: #f2f2f2">
                    <ion-label style="color: #6b6b6b;">ZIPCODE</ion-label>
                    <ion-input  [(ngModel)]="zipcode" style="color: #6b6b6b; font-size:40px;" class="zip-input" (ionChange)="enableRange()"></ion-input>
                </ion-item>
                <google-places-autocomplete placeholder="Ex: 12345" [(ngModel)]="zipcode" [ngModelOptions]="{standalone: true}" (callback)="detail($event[0])" key="AIzaSyAG8YwO3jnFYNYfiV1B35FzICVOYVJYnMQ"></google-places-autocomplete>

        <ion-list-header style=" background-color: #f2f2f2; color: #6b6b6b; text-transform: uppercase;">
            Distance from me
         
            <p item-end >{{text}}</p> 
            
        </ion-list-header>
        <ion-item style="border:none; background-color: #f2f2f2; color: #6b6b6b;">
            <ion-range [disabled]="disable" (ionChange)="getDistance()" [(ngModel)]="structure" style="color: #6b6b6b;" min="0" max="100" >
            </ion-range>
        </ion-item>

    </ion-list>

    <ion-list>
     
       
        <ion-list-header style="background-color: #f2f2f2; color: #6b6b6b; text-transform: uppercase;">
            Date Range
        </ion-list-header>
        <ion-item style="background: #f2f2f2">
            <ion-label style="color: #6b6b6b;">Start Date</ion-label>
            <ion-datetime style="color: #6b6b6b;" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
        </ion-item>
        <ion-item style="background: #f2f2f2">
            <ion-label style="color: #6b6b6b;">End Date</ion-label>
            <ion-datetime style="color: #6b6b6b;" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
        </ion-item>
    </ion-list>

    <ion-list radio-group >
        <ion-list-header style="background-color: #f2f2f2; color: #6b6b6b; text-transform: uppercase;">
          Filter By:
        </ion-list-header>
      
        <ion-item style="background: #f2f2f2">
          <ion-label text-wrap style="color: #6b6b6b;">Show events from all Rally organizations</ion-label>
          <ion-radio *ngIf="home" (ionSelect)="getFilter('all')"  value="all"></ion-radio>
          <ion-radio *ngIf="!home" (ionSelect)="getFilter('all')" checked="true"  value="all"></ion-radio>

        </ion-item>
      
        <ion-item style="background: #f2f2f2">
          <ion-label text-wrap style="color: #6b6b6b;">Only show events from organizations I follow</ion-label>
          <ion-radio *ngIf="home" (ionSelect)="getFilter('followed')" checked="true" value="followed"></ion-radio>
          <ion-radio *ngIf="!home" (ionSelect)="getFilter('followed')" value="followed"></ion-radio>

        </ion-item>
      
      </ion-list>
   
    <!--  <ion-list>
    	<ion-list-header style="border:none; background-color: #4a90e2; color: #fff; text-transform: uppercase;">
    		Search
        </ion-list-header>
        <ion-searchbar style="background: transparent;" (input)="getItems($event)"></ion-searchbar>
     </ion-list> -->
</ion-content>
<ion-footer padding style="background:#4a90e2;">
        <button style="background:#4a90e2; color: #fff" ion-button full class="filter-btn" (click)="goToEvents()">APPLY FILTER</button>
</ion-footer>