page-filter-events {
	.toolbar-background, ion-content{
        background-color: #4a90e2 !important;
        color: #fff !important;
    }
    p.white {
        color: #fff;
        margin: 0;
    }
    .range-ios .range-bar-active, .range-md .range-bar-active{
    	background: #fff;
    }

    .filter-btn{
    	background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    transition: none;
    }
    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before, .footer-ios .toolbar-ios:first-child .toolbar-background-ios{
    	background: none;
    	border:none;
    }
}
