page-filter-events {
    .toolbar-background,
    ion-content {
        background-color: #f2f2f2 !important;
        color: #000 !important;
    }
    p.white {
        color: #fff;
        margin: 0;
    }

    ion-title{
        p{
            color: #000;
            font-weight: 900;
            font-size: 22px;
            letter-spacing: 0.8px;
        }
    }
    .range-ios .range-bar-active,
    .range-md .range-bar-active {
        background: #fff;
    }
    .filter-btn {
        background: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        transition: none;
    }
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before,
    .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
        background: none;
        border: none;
    }
    .zip-input {
        .text-input {
            text-align: right;
        }
    }

    .bar-button-default-ios, .bar-button-default-md{
        color: #000;
        font-size: 17px;
    }

    .header-md::after,  .header-ios::after{
        background:none !important;
    }
}