page-filter-events {
    .toolbar-ios ion-title{
        padding: 0 !important;
    }
    .toolbar-ios, ion-header, .toolbar-md{
        height: 80px !important;
        min-height: 80px !important;
    }

    .scroll-content{
        margin-top: 80px !important;
    }
    .toolbar-background,
    ion-content {
        background-color: #f2f2f2 !important;
        color: #000 !important;
    }
    p.white {
        color: #fff;
        margin: 0;
    }

    ion-title{
        padding-left: 0;
        p{
            color: #000;
            font-weight: 900;
            font-size: 22px;
            letter-spacing: 0.8px;
            text-align: left;
            // padding-left: 10px;
            margin-bottom: 0;
        }
        small{
            display: flex;
            align-items: center;
        }
    }
    
    .filter-btn {
        background: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        transition: none;
    }
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before,
    .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
        background: none;
        border: none;
    }
    .zip-input {
        .text-input {
            text-align: right;
        }
    }

    .bar-button-default-ios, .bar-button-default-md{
        color: #000;
        font-size: 17px;
    }

    .header-md::after,  .header-ios::after{
        background:none !important;
    }
}