page-home {

    ion-content{
        text-align: center;
        margin-top: 5pc !important;
        background: #fefcf8 !important;
    }

    .fb-btn{
        color: #fff;
        background: #45619d;
        height: 80px !important;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .footer-md::before, .footer-ios::before{
        background: none !important;
    }

    .text-btn{
        height: 30px;
        text-align: center;
    }
    
    
}

