
<ion-header>
    <ion-navbar>
        <ion-title>
            <p class="white">Discover</p>
        </ion-title>
      
    </ion-navbar>
</ion-header>


<ion-content>
    <!-- <ion-row padding class="search-btn">
     
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    </ion-row>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div> -->

    <ion-list class="top-list"> 
        <ion-item (click)="goToListOrganizations()">
            <div item-start>
             <img src="assets/img/Org.svg" alt="" style="width:20px; height:20px; margin-top:10px; margin-right:10px;">
                    
            </div>
            See All Organizations
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item (click)="goToListReps()">
                <div item-start>
                 <img src="assets/img/Representatives.svg" alt="" style="width:20px; height:20px; margin-top:10px; margin-right:10px;">
                        
                </div>
                See All Representatives
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </ion-item>
            <ion-item (click)="invite()">
                    <div item-start>
                     <img src="assets/img/Community.svg" alt="" style="width:20px; height:20px; margin-top:10px; margin-right:10px;">
                            
                    </div>
                    Invite friends to Rally
                  <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                </ion-item>
      </ion-list>
      
    <ion-list style="margin-top: 30px;" *ngIf="items.length > 0">
           <ion-item>
            <p class="list-title">Facebook Friends</p>

           </ion-item>
       
        <ion-item *ngFor="let item of items, let i = index">
            <ion-avatar item-start (click)="goToProfile(item.id)">
                <!-- <img [src]="getPhoto(item.id)"> -->
                <img src="{{item.photo_url}}" alt="" style="border:2px solid #ada8a8;">
            </ion-avatar>
            <h2 (click)="goToProfile(item.id)">{{item.name}}</h2>
            <p class="text-wrap">Friends on Facebook</p>
            <ion-row item-end text-right  >
                <ion-col col-12 style="padding: 0;">
                    <button ion-button color="dark" class="action-btn btn-friend" (click)="getDeviceID(item.id, $event, i, facebook)">Follow</button>
                </ion-col>
              
            </ion-row>
        </ion-item>


    </ion-list> 

    <ion-list *ngIf="records.length > 0">
        <ion-item>
            <p class="list-title">Suggested Friends</p>
        </ion-item>
        <ion-item *ngFor="let user of records, let i = index" >
            <ion-avatar item-start>
                <img src="{{user.photo_url}}" style="border:2px solid #ada8a8;">
            </ion-avatar>
            <h2>{{user.name}}</h2> 
            <p class="text-wrap">{{user.name}} is following you</p>

            <ion-row item-end text-right >
                <ion-col col-12 style="padding: 0;">
                    <button ion-button color="dark" class="action-btn" (click)="getDeviceID(user.id. $event, i, suggested)">FOLLOW</button>
                </ion-col>

            </ion-row>
        </ion-item> 

    </ion-list>
    <ion-list >
        <ion-item>
            <p class="list-title">Suggested Organizations</p>
        </ion-item>
        <ion-item *ngFor="let org of orgs" >
            <ion-avatar item-start (click)="goToOrganizationProfile(org.id)">
                <img [src]="org.image_url ? org.image_url : 'assets/img/org_icon.svg'" style="border:2px solid #ada8a8;">
            </ion-avatar>
            <h2 text-wrap (click)="goToOrganizationProfile(org.id)">{{org.name}}</h2>

            <ion-row item-end text-right >
                <ion-col col-12 style="padding: 0;">
                    <button ion-button color="dark" class="action-btn" (click)="addOrg(org.id, $event)">FOLLOW</button>
                </ion-col>

            </ion-row>
        </ion-item> 

    </ion-list>

</ion-content>
