page-feed {
         

    .icon-Like:before {
        content: "\e903";
      }

    a[disabled], button[disabled], [ion-button][disabled]{
        opacity: 1 !important;
    }
    
    ion-header{
        background: transparent !important;
       
        .rally-header-logo {
            width: 50px;
            filter: brightness(0) invert(1);
            margin-bottom: 30px;

        }
        .toolbar-background {
            background: #f4512c !important;
            border: none !important;
    
    
            //max-height: 50px !important;
        }
    }

    .toolbar-title-md{
        text-align: center !important;
    }
    .data-row {
        background: red;
        ion-item {
            color: #fff;
            padding: 0 20px;
            font-weight: bold;
            text-transform: uppercase;
            background: transparent;
        }
    }
    .org-card {
        margin-left: 0; 
        margin-right: 0;
        width: 100%;
    }
    i {
        font-size: 28px !important;
    }
    .red {
        background-color: red;
    }
    
    ion-content {
        background: #d8d8d8 !important;

    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    .btn-50 {
        width: 50%;
        height: 50px;
        margin: 0;
    }
    p.white {
        color: #fff;
        margin: 0;
    }
    .no-space {
        padding: 0;
        margin: 0;
    }
    .button-clear-md, .button-clear-ios {
        background-color: #f2f2f2;
        color: #bfbfbf !important;
    }
    .right-border {
        border-right: 1px solid #fff;
    }
    ion-card {
        .card-md,
        .card-ios {
            border-top: 10px solid #356eb1;
            border-bottom: 10px solid #356eb1;
            margin: 0;
            width: 100%;
        }
        // .item-md ion-avatar img,
        // .item-ios ion-avatar img {
        //     //border-radius: 0;
        // }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }
        .link {
            color: #4a90e2;
        }
        .button-clear-ios {
            color: #fff;
        }
        .token {
            background-color: #e6e6e6;
            border: none;
            p {
                font-weight: 500;
                padding-left: 5px;
                padding-top: 10px;
            }
        }
        .token-btn {
            background-color: #d3cfcf;
            border: none;
            .button-clear-md {
                background-color: #d3cfcf;
            }
        }
    }
    .objectives-card {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        small {
            color: #8f8f8f;
            font-weight: normal;
        }
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #cecece;
        }
        .organization-bg {
            height: 195px;
            position: relative;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            .bottom-excerpt {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
                padding: 10px;
                font-weight: 600;
                right: 0;
                left: 0;
                top: 0;
                align-items: flex-end;
                display: flex;
                p {
                    font-size: 17px;
                    width: 70%;
                }
            }
        }
        .days-excerpt {
            position: absolute;
            padding: 10px;
            background: #e7b157;
            font-weight: 600;
        }
        .railled-excerpt {
            position: absolute;
            right: 0;
            padding: 20px;
            font-weight: 600;
            top: 30%;
            align-items: center;
            display: flex;
            justify-content: center;
            z-index: 99;
            p {
                text-align: center;
                strong {
                    font-size: 20px;
                }
            }
        }

        .btn-objectives-contact{ 
            position: absolute;
            right: 5px;
            bottom: 10px;

            button{
                background: #f4512c !important;
                    text-transform: uppercase !important;
                    color: #f2f2f2 !important;
                    border-radius: 6px !important;
                    padding: 10px !important;
                    letter-spacing: -0.36px; 
        
                    .button-inner{
                        width: 100px !important;
                        font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;
                        font-size: 14px !important;
        
        
                    }
                }

        }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }
        .link {
            color: #4a90e2;
            line-height: 30px;
        }
        
        .token {
            background-color: #e6e6e6;
            border: none;
            p {
                font-weight: 500;
                padding-left: 5px;
                padding-top: 10px;
            }
        }
        .token-btn {
            background-color: #d3cfcf;
            border: none;
            .button-clear-md {
                background-color: #d3cfcf;
            }
        }
        .button-outline-md-light,
        .button-outline-ios-light {
            border-color: #4e4e4e;
            background-color: #fff;
            color:#4e4e4e;
            font-weight: 400;
            border-radius: 5px;
            height: auto;
            padding: 8px 10px;
            font-size: 11px;
            text-transform: uppercase;
            width: 80%;
        }
        .action-btn {
            height: auto;
            padding: 5px 10px;
            background: transparent;
            color: #4e4e4e;
            border: 1px solid #4e4e4e;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    .events-card{
        position:relative;
         margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        small {
            color: #8f8f8f;
            font-weight: normal;
        }
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #cecece;
        }

        .event-description{
            color: #8f8f8f;
            //font-weight: 200;
        }

        ion-card-title{
            font-size: 18px !important;
            font-weight: 500;
        }

        .events-bg{
            height: 100px;
            position:relative;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            .events-filter{
                position: absolute;
                bottom: 0;
                top:0;
                right: 0;
                left: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
            }

            .events-railled{
                position:absolute;
                right: 10px;
                top: 30%;
                z-index: 99;
                p{
                    font-size: 17px;
                    text-align: center;
                }


            }

            .date-events-spans{
                position: absolute;
                z-index: 99;
                color: white;
                left: 20px;
                bottom: 20px;
                span.day{
                  background: #2b2b2b;
                  padding: 5px 10px;
                  
                }
                span.month{
                background: #f2f2f2;
                padding: 5px 10px;
                color: #4e4e4e;
                //font-weight: 100;
                text-transform: uppercase;
                margin-left: -5px;
                }
            }
        }
    }
    .friends-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        position: relative;
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue-icon {
            color: #4a90e2;
        }
        .inactive {
            background-color: #dfdfdf;
        }
        .friend-headshot {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            bottom: 0;
            left: 10px;
            bottom: 10px;
            border: 3px solid #fff;
        }
        .heart-btn{
            margin: 0;
        }


        .blue-card {
             background-color: #f2f2f2;
        color: #bfbfbf;
            border-right: 1px solid #fff;
        }

        
        .button-clear-ios, .button-clear-md {
            background-color: #f2f2f2;
        color: #bfbfbf;
        }

        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border: 2px solid #f66240;
        }
    }
    .follow-user-button {
        padding: 20px 0;
        text-align: right;
        float: right;
        button {
            border-radius: 15px !important;
        }
    }


    .reps-card{
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        box-shadow: none !important;
        ion-card-header {
            max-width: 90%;
            overflow: visible;
            white-space: initial;
        }
        .button-clear-md,
        .button-clear-ios {
             background-color: #f2f2f2;
            color: #bfbfbf;
            // height: 30px;
        }
        .item-md ion-avatar img,
    .item-ios ion-avatar img {
        border: 2px solid #cecece;
    }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }

        .blue {
            background-color: #f2f2f2;
            border-right: 1px solid #fff;
        }
        .ion-logo-twitter {
            //background: #4a90e2;
            padding: 5px;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            color: #4a90e2;
        }
        ion-item{
            padding-left: 0 !important;
            h2{
                font-size: 13px !important;
            }
        }
    }

    ion-spinner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }
    
}

.footer-icons {
    text-align: center;
    font-size: 22px;
    background-color: #356eb1;
}

.white-footer {
    font-size: 1.4rem;
    color: #fff;
    margin: 0;
    line-height: 29px;
    padding-left: 10px;
}

.popover-ios .popover-content,
.popover-md .popover-content {
    left: 0 !important;
    width: 100% !important;
    top: 5% !important;
    border-radius: 0;
    bottom: 40px;
    button {
        margin: 0;
        .button-inner {
            justify-content: start;
        }
    }
}


#Rallycontainer {
    margin: 0 auto;
    width: 15vw;
       margin: 0 auto;
    // padding: 20% 10%;
    // center no-repeat;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    background-size: cover;
   svg{
       height: 50px;
       width: 50px;
   }
  }
  
  #arrow {
    fill: #f4512c;
  }
  #R {
    fill: #3d3935;
  }
  .bounce {
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   -moz-animation: bounce 2s infinite;
   -o-animation: bounce 2s infinite;
    animation-timing-function: ease-out;
  }
   
  @-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0, 0);} 
   40% {-webkit-transform: translate(10px, -10px);}
   60% {-webkit-transform: translate(5px, -5px);}
  }
   
  @-moz-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0, 0);} 
   40% {-webkit-transform: translate(10px, -10px);}
   60% {-webkit-transform: translate(5px, -5px);}
  }
   
  @-o-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0, 0);} 
   40% {-webkit-transform: translate(10px, -10px);}
   60% {-webkit-transform: translate(5px, -5px);}
  }
  @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(0, 0);} 
   40% {-webkit-transform: translate(10px, -10px);}
   60% {-webkit-transform: translate(5px, -5px);}
  }

  .loading-md .loading-wrapper, .loading-ios .loading-wrapper{
    padding: 0 !important;
}


.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
    max-width: 472px;
    min-height: 200px;
    margin-bottom: 15px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}
.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}    