page-feed {
    i{
        font-size: 28px !important;
    }

    ion-header {
        text-align: center;
    }
    ,
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    ,
    p.white {
        color: #fff;
        margin: 0;
    }
    ,
    .button-clear-md {
        background-color: #4a90e2;
        color: #fff;
    }
    ,
    ion-card {
        .card-md,
        .card-ios {
            border-top: 10px solid #356eb1;
            border-bottom: 10px solid #356eb1;
            margin: 0;
            width: 100%;
        }
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border-radius: 0;
        }

        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }

        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }

        .link {
            color: #4a90e2;
        }
        .button-clear-ios {
            color: #fff;
        }

        .token {
            background-color: #e6e6e6;
            border: none;
            p {
                font-weight: 500;
                padding-left: 5px;
                padding-top: 10px;  
            }
        }

        .token-btn {
            background-color: #d3cfcf;
            border: none;
            .button-clear-md {
                background-color: #d3cfcf;
            }
        }
    }
}

.footer-icons {

    text-align: center;
    font-size: 22px;
    background-color: #356eb1;
}

.white-footer {
    font-size: 1.4rem;
    color: #fff;
    margin: 0;
    line-height: 29px;
    padding-left: 10px;
}

.popover-ios .popover-content, .popover-md .popover-content {
    left: 0 !important;
    width: 100% !important;
    top: 5% !important;
    border-radius: 0;
    bottom: 40px;
    button {
        margin: 0;
        .button-inner{
            justify-content: start;
        }
    }
}