page-feed {
    .org-card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    i {
        font-size: 28px !important;
    }
    .red {
        background-color: red;
    }
    ion-header {
        text-align: center;
    }
    ion-content {
        top: 60px;
    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    .btn-50 {
        width: 50%;
        height: 50px;
        margin: 0;
    }
    p.white {
        color: #fff;
        margin: 0;
    }
    .no-space {
        padding: 0;
        margin: 0;
    }
    .button-clear-md {
        background-color: #4a90e2;
        color: #fff;
    }
    .right-border {
        border-right: 1px solid #fff;
    }
    ion-card {
        .card-md,
        .card-ios {
            border-top: 10px solid #356eb1;
            border-bottom: 10px solid #356eb1;
            margin: 0;
            width: 100%;
        }
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border-radius: 0;
        }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }
        .link {
            color: #4a90e2;
        }
        .button-clear-ios {
            color: #fff;
        }
        .token {
            background-color: #e6e6e6;
            border: none;
            p {
                font-weight: 500;
                padding-left: 5px;
                padding-top: 10px;
            }
        }
        .token-btn {
            background-color: #d3cfcf;
            border: none;
            .button-clear-md {
                background-color: #d3cfcf;
            }
        }
    }
    .objectives-card {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border-radius: 0;
        }
        .organization-bg {
            height: 240px;
            position: relative;
            .bottom-excerpt {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                padding: 10px;
                font-weight: 600;
                p {
                    font-size: 17px;
                }
            }
        }
        .days-excerpt {
            position: absolute;
            padding: 10px;
            background: #e7b157;
            font-weight: 600;
        }
        .railled-excerpt {
            position: absolute;
            right: 0;
            padding: 20px;
            background: #4a90e2;
            font-weight: 600;
            p {
                strong {
                    font-size: 20px;
                }
            }
        }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }
        .link {
            color: #4a90e2;
            line-height: 30px;
        }
        .button-clear-ios {
            color: #fff;
            height: 30px;
        }
        .token {
            background-color: #e6e6e6;
            border: none;
            p {
                font-weight: 500;
                padding-left: 5px;
                padding-top: 10px;
            }
        }
        .token-btn {
            background-color: #d3cfcf;
            border: none;
            .button-clear-md {
                background-color: #d3cfcf;
            }
        }
        .button-outline-md-light,
        .button-outline-ios-light {
            border-color: #222;
            background-color: #fff;
            color: #222;
            font-weight: 400;
            border-radius: 5px;
            height: auto;
            padding: 8px 10px;
            font-size: 11px;
            text-transform: uppercase;
            width: 80%;
        }
        .action-btn {
            height: auto;
            padding: 5px 10px;
            background: transparent;
            color: #222;
            border: 1px solid #222;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    .friends-card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        position: relative;
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue-icon {
            color: #4a90e2;
        }
        .inactive {
            background-color: #dfdfdf;
        }
        .friend-headshot {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            bottom: 0;
            left: 10px;
            bottom: 10px;
            border: 3px solid #fff;
        }
        .heart-btn {
            margin: 0;
        }
        .profile-rep {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }
    }
    .follow-user-button {
        padding: 20px 0;
        text-align: right;
        float: right;
        button {
            border-radius: 15px !important;
        }
    }
}

.footer-icons {
    text-align: center;
    font-size: 22px;
    background-color: #356eb1;
}

.white-footer {
    font-size: 1.4rem;
    color: #fff;
    margin: 0;
    line-height: 29px;
    padding-left: 10px;
}

.popover-ios .popover-content,
.popover-md .popover-content {
    left: 0 !important;
    width: 100% !important;
    top: 5% !important;
    border-radius: 0;
    bottom: 40px;
    button {
        margin: 0;
        .button-inner {
            justify-content: start;
        }
    }
}