page-settings {
	.toolbar-background {
        background-color: #f4512c !important;
        color: #fff;
    }
    p.white {
        color: #f2f2f2;
        margin: 0;
    }

    .private-row{
        .item-inner{
            border-bottom: none !important;
        }
    }

 
}
