page-my-friends {
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    p.white {
        color: #f2f2f2;
        margin: 0;
    }
    ion-content {
        top: 45px;
        p {
            font-size: 12px;
            text-align: center;
            color: #7b7878;
        }
        img {
            border-radius: 50%;
            height: 70px;
            width: 70px;
        }
        ion-list {
            margin-bottom: 0 !important;
        }
    }
}