// Cards styles

.Card .card {
  margin-top: 0 !important;
}

.Card .item.item-block ion-fab {
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
}

.Card .item.item-block .fab {
  padding: 0;
  color: #9b9b9b !important;
}

.Card .item.item-block .fab ion-icon {
  font-size: 30px;
}

.Card .item.item-block {
  padding: 14px 52px 14px 16px;
}

.Card .item.item-block .item-inner {
  padding: 0;
}

.Card .item.item-block ion-avatar {
  margin: 0 10px 0 0;
}

.Card .item.item-block ion-avatar img {
  width: 40px;
  height: 40px;
}

.Card .item.item-block .label {
  margin: 0;
}

.Card .item.item-block .label h2 {
  font-size: 17px;
  line-height: 20px;
  color: #3d3935;
  font-family: 'Conv_SanFranciscoDisplay-Semibold' !important;
  letter-spacing: 0.41px;
  font-weight: normal;
  margin: 0 0 3px;
  white-space: normal !important;
}

.Card .item.item-block .label h2 small {
  color: #868686;
  font-size: 13px;
  font-family: 'Conv_SF-Pro-Display-Light' !important;
}

.Card .item.item-block .label p {
  color: #868686;
  font-size: 12px;
  font-family: 'Conv_SF-Pro-Display-Regular' !important;
  letter-spacing: 0.41px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card .item.item-block .label p small {
  font-size: inherit;
  color: inherit;
}

.Card .organization-bg {
  height: 193px !important;
}

.Card .organization-bg .railled-excerpt {
  padding: 14px 16px;
  bottom: 0;
  font-weight: normal;
  display: block;
  top: auto;
}

.Card .organization-bg .railled-excerpt p {
  text-align: right;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
}

.Card .organization-bg .railled-excerpt p strong {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0;
}

.Card .organization-bg .railled-excerpt .btn-objectives-contact {
  position: static;
  margin: 10px 0 2px;
}

.Card .organization-bg .bottom-excerpt {
  padding: 11px 16px !important;
}

.Card .organization-bg .bottom-excerpt p {
  margin: 0;
  font-size: 22px !important;
  line-height: 28px;
  letter-spacing: 0.35px;
  max-height: 168px;
  overflow: hidden;
}

.Card .events-bg {
  height: 100px !important;
}

.Card .events-bg .date-events-spans {
  left: 16px !important;
  bottom: 21px !important;
}

.Card .events-bg .date-events-spans span.day {
  font-size: 11px !important;
  line-height: 14px;
  padding: 8px !important;
  background-color: #3d3935 !important;
  color: #f2f2f2 !important;
}

.Card .events-bg .date-events-spans span.month {
  font-size: 11px !important;
  line-height: 14px;
  padding: 8px !important;
  text-transform: uppercase;
  background-color: #f2f2f2 !important;
  color: #3d3935 !important;
}

.Card .card-content {
  padding: 14px 50px 14px 16px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #2b2b2b;
}

.Card .card-content {
  .col {
    padding: 0 !important;
  }
}

.Card .card-content .icon-logo-twitter {
  margin-right: -34px !important;
}

.Card .card-content p {
  color: inherit;
  font-size: inherit;
}

.Card .card-content .card-title {
  color: #3d3935 !important;
  font-weight: normal;
  font-family: 'Conv_SanFranciscoDisplay-Semibold' !important;
  margin: 0 0 10px;
  padding: 0;
}

.Card .card-content .content-heading {
  color: #3d3935 !important;
  font-family: 'Conv_SF-Pro-Display-Regular' !important;
  margin: 0 0 10px;
  padding: 0;
}

.Card .card-content .content-heading strong {
  font-weight: normal;
  font-family: 'Conv_SanFranciscoDisplay-Semibold' !important;
}

.Card .card-content .event-description {
  font-size: 12px;
  line-height: 16px;
  color: #868686;
}

.Card .card-content *:last-child {
  margin-bottom: 0 !important;
}

// Button styles
