page-change-password {
    ion-item.item.item-block {        
        color: #666;
        border-bottom: 1px solid #c1c1c1;
        .item-inner {
            border-bottom: 0px solid #fff !important;            
        }
        ion-icon, .item-button {
            min-height: 1.8rem;
            font-size: 1.8rem;
            line-height: 1;            
        }
        h2 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }
        .item-button {
            margin: 11px 8px 9px 0;
            font-size: 1rem !important;
            color: #666;
        }
        
    }
    .item-ios [item-start] {
        margin: 8px 5px 2   px 0 !important;
    }
    ion-input.input {
        margin: 8px 16px 3px 0px !important;
        width: 100% !important;
        max-width: 100%;
        font-size: 0.8em;
    }   
    ion-icon.icon {
        margin-right: 5px !important;
    }
}
