page-change-username {
    .toolbar-background {
        background-color: #f4512c !important;
        color: #fff;
    }

    p.white {
        color: #fff;
        margin: 0;
    }
    .red{
        color: red;
    }

    ion-header{
        text-align: center;
    }
    ion-content{
        top: 60px;
        background: #fefcf8;
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
        h1{
            text-align: center;
            width: 100%;
        }

        ion-list{
            width: 100%;
            ion-item{
                border: none !important;
            }
            ion-input{
                width: 100%;
                background: #f7f7f7;
                border: 1px solid rgb(212, 210, 210);
                border-radius: 4px;
            }

            button{
                height: 40px !important;
                border-radius: 4px !important;
            }
        }
    }

    .list-md .item-block .item-inner, .list-ios .item-block .item-inner{
        border: none !important;
    }

    .static-icon{
        position: absolute;
        right: 5px;
        top: 0;
    }
}
