rally-header {
    .rally-search{
    .searchbar-input{
         border-radius: 7px !important;
        background: #3b70ad !important;
        padding: 2px 55px !important;
        color: #fff !important;
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    
   
}

.results-content{
    
    	z-index: 9999;
    }

    .list-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
    }

    

.toolbar-ios{
	margin-top: 20px;
}
}
