rally-header {
   
    background: #fff !important;
    .rally-search{
    .searchbar-input{
         //border-radius: 7px !important;
        //background: #3b70ad !important;
        padding: 2px 55px !important;
        //color: #fff !important;
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    
   
}

.toolbar-background {
        background: #f4512c !important;
        //max-height: 50px !important;
    }

.results-content{
            background: #fff !important;

    	z-index: 9999;
        top: 60px;
        
        .scroll-content{
            margin-top: 0 !important;
        }
    }

    .list-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
    }

    
}
