<ion-header>
    <ion-navbar>
     <!--  <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col col-2 no-padding>
            </ion-col>
            <ion-col col-9 no-padding>

            </ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-searchbar no-padding class="rally-search" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
      <ion-buttons end>
      		<button ion-button icon-only>
      			<ion-icon name="ios-funnel"></ion-icon>
      		</button>
      </ion-buttons>

    </ion-navbar>
</ion-header>