filter-header {
	 .rally-search{
    .searchbar-input{
         border-radius: 7px !important;
        background: #3b70ad !important;
        padding: 2px 55px !important;
        color: #fff !important;
    }
   
}

ion-header{
        text-align: center !important;
    }
    .rally-header-logo {
        width: 50px;
        filter: brightness(0) invert(1);
    }
    .toolbar-background {
        background: #f4512c !important;
        //max-height: 50px !important;
    }
}

