page-home-filters {
    .content {
        background-color: #488aff !important;
        border: none !important;
    }
    .no-border{
        border: none !important;
    }
    .search{
        border: solid 1px #c7c6c6;
        padding: 0em 0.5em;
        border-radius: 10px;
        background-color: #fff;
    }
    .subtitle{
        color: #fff !important;
        font-size: 0.8em;
        padding: 0em 0.5em 0em 0em;
    }
    .feed-type{
        border: solid 1px #c7c6c6;
        padding: 0.2em 0.5em;
        border-radius: 10px;
        background-color: #fff;
        color: #666 !important;
        font-size: 0.8em;
    }
    .issues{
        color: #fff;
        font-size: 0.9em;
    }
    ion-footer.footer {
        border: none !important;
        margin-bottom: 5px;
    }
}
