page-followed-organizations {
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    p.white {
        color: #fff;
        margin: 0;
    }
    ion-content {
        top:60px;
        p {
            font-size: 12px;
            text-align: center;
            color: #7b7878;
        }
        ion-list {
            margin-bottom: 0 !important;
        }
    }
}

.list-header-md {
    border-bottom: 0.55px solid #c8c7cc;
}