<ion-header>
        <ion-navbar>
            <ion-title>
                <p class="white">Following</p>
            </ion-title>
          
        </ion-navbar>
    </ion-header>


<ion-content>
        <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
        <div class="timeline-wrapper" *ngIf="enablePlaceholder">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>
        
        <div class="timeline-wrapper" *ngIf="enablePlaceholder">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>
        
        <div class="timeline-wrapper" *ngIf="enablePlaceholder">
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                </div>
            </div>
        </div>
        <ion-list>
                <ion-item *ngFor="let organization of organizations">
                        <ion-avatar item-start (click)="goToOrganizationProfile(organization[0])">
                          <img src="{{organization[2]}}"  style="border:2px solid #ada8a8;">
                        </ion-avatar>
                        <h2 text-wrap (click)="goToOrganizationProfile(organization[0])">{{organization[1]}}</h2>
                        <button ion-button clear item-end style="background: transparent;
                        color: gray;
                        border-radius: 4px;
                        padding: 10px 15px; border: 1px solid gray;" (click)="getOrganizationFollowRecordID(organization[0], $event)">Following</button>
                      </ion-item>
                      <ion-item *ngFor="let user of users">
                        <ion-avatar item-start (click)="goToPublicProfile(user[0])">
                          <img src="{{user[2]}}"  style="border:2px solid #ada8a8;">
                        </ion-avatar>
                        <h2 text-wrap (click)="goToPublicProfile(user[0])">{{user[1]}}</h2>
                        <button ion-button clear item-end style="background: transparent;
                        color: gray;
                        border-radius: 4px;
                        padding: 10px 15px; border: 1px solid gray;" (click)="getFollowRecordID(user[0], $event)">Following</button>
                      </ion-item>
                      <ion-item *ngFor="let rep of reps">
                        <ion-avatar item-start (click)="goToRepProfile(rep[0])">
                          <img src="{{rep[2]}}"  style="border:2px solid #ada8a8;">
                        </ion-avatar>
                        <h2 text-wrap (click)="goToRepProfile(rep[0])">{{rep[1]}}</h2>
                        <button ion-button clear item-end style="background: transparent;
                        color: gray;
                        border-radius: 4px;
                        padding: 10px 15px; border: 1px solid gray;" (click)="followRep(rep[0], $event)">Following</button>
                      </ion-item>
        </ion-list>
   


</ion-content>

<!-- <ion-footer>
    <ion-toolbar style="min-height: auto; padding: 0;">
        <ion-row>
            <ion-col col-2 class="footer-icons">
                <button (click)="goToHome()">
                    <ion-icon name="ios-home"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-6>
                <p class="white-footer" (click)="presentPopover()">Followed Organizations</p>
            </ion-col>
            <ion-col col-2 class="footer-icons" style="border-right: 1px solid;">
                <button (click)="goToAlerts()">
                    <ion-icon name="ios-notifications"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="footer-icons">
                <button (click)="goToProfile()">
                    <ion-icon name="ios-person"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer> -->