    .popover-ios .popover-content {
        bottom: 40px;
        left: 0 !important;
         width: 100% !important;
    
}

page-overlay{

    ion-header{
        text-align: center;
        .rally-header-logo {
            width: 50px;
            filter: brightness(0) invert(1);
            margin-bottom: 30px;

        }
    }

	.toolbar-background {
        background-color: #f4512c !important;
        color: #fff;
    }

    p.white {
        color: #f2f2f2;
        margin: 0;
    }


    
	.button{
		height: 50px;
		.button-inner{
			justify-content: start;
		}
	}

	ion-content{
		top: 0 !important;
	}


}

.overlay-btn{
		height: 21.5vh !important;
		margin: 0 !important;
    border-bottom: 1px solid #87aed7;
    background-color: #5b91c8;
    .button-inner{
    	justify-content: flex-start !important;
        font-size: 28px;
        color: #f2f2f2;
        letter-spacing: 0.36px;
        line-height: 34px;
        font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;

    }

    img{
    	    width: 35px;
    margin-right: 10px;
    // margin-bottom: 8px;
    filter: brightness(0) invert(1);

    }
    }
    
    .overlay-btn:focus, .overlay-btn:hover{
        background-color: #87aed7;
    }