    .popover-ios .popover-content {
        bottom: 40px;
        left: 0 !important;
         width: 100% !important;
    
}

.page-overlay{
	.button{
		height: 50px;
		.button-inner{
			justify-content: start;
		}
	}

	ion-content{
		top: 0 !important;
	}


}

.overlay-btn{
		height: 18.5vh !important;
		margin: 0 !important;
    border-bottom: 1px solid #fff;
    .button-inner{
    	justify-content: flex-start !important;
    	font-weight: 500;
    	font-size: 16px;
    }

    img{
    	    width: 20px;
    margin-right: 10px;
    margin-bottom: 8px;
    filter: brightness(0) invert(1);

    }
	}