<!--
  Generated template for the OrganizationProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<rally-orange-header></rally-orange-header>


<ion-content>

    <ion-row padding>
        <ion-col col-4 class="profile-headshot">
            <ion-avatar item-start>
                <button ion-button transparent icon-only style="background: transparent; height: auto;">
          <img src="assets/img/login-image.jpg">
      </button>
            </ion-avatar>
            <h4>{{name}}</h4>
            <p>Location</p>
        </ion-col>

        <ion-col col-8 class="profile-counts">
            <button ion-button color="light" outline>This is my organization</button>
            <button *ngIf="login" ion-button color="light" outline (click)="addFollowRecordFirebase(dataID)">{{buttonFollowTest}}</button>
        </ion-col>
        <ion-col col-12>
            <p>{{description}}</p>
            <p><a href="#">aclu.org</a></p>
            <p>Followed by Fred, Barney, Wilma &amp; Betty</p>
        </ion-col>

    </ion-row>

    <ion-card style="position: relative;" *ngFor="let objective of objectives">

        <ion-fab right top>
            <button ion-fab color="light"><ion-icon name="ios-more"></ion-icon></button>
            <ion-fab-list side="left">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>
        </ion-fab>

        <ion-item>
            <ion-avatar item-start>
                <img src="assets/img/login-image.jpg">
            </ion-avatar>
            <h2>{{objective.organization['name']}}</h2>
        </ion-item>

        <div class="organization-bg" style="background: url('assets/img/login-image.jpg');">
            <!-- <div class="days-excerpt">
  			<p class="white">2 Days Remaining</p>
  		</div> -->
            <div class="railled-excerpt">
                <p class="white"><strong>1215</strong><br> Railled</p>
            </div>
            <div class="bottom-excerpt">
                <p class="white">{{objective.title}}</p>
            </div>
        </div>


        <ion-card-content>
            <p>{{objective.organization['description']}}</p>
            <ion-row>
                <ion-col col-8>
                    <p class="link">371 Likes, 212 Shares</p>
                </ion-col>
                <ion-col col-4>
                    <button ion-button color="dark" class="action-btn">Take action</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
        <ion-row>
            <ion-col class="token" col-8>
                <p>You've token action on this 3 times</p>
            </ion-col>
            <ion-col col-4 class="token-btn">
                <button ion-button icon-left clear full style="height: 30px; font-weight: 600;
    font-size: 13px;">
          I'M DONE
      </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="blue">
                <button ion-button icon-left clear full>
        <ion-icon name="md-heart" ios="md-heart" md="ios-heart"></ion-icon>
      </button>
            </ion-col>
            <ion-col class="blue">
                <button ion-button icon-left clear full>
        <ion-icon name="ios-share"></ion-icon>
      </button>
            </ion-col>

        </ion-row>

    </ion-card>

</ion-content>
<rally-footer name="{{name}}"></rally-footer>