page-organization-action {
    // ion-header {
    //     text-align: center;
    // }
    a[disabled], button[disabled], [ion-button][disabled]{
        opacity: 1 !important;
    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    .btn-50 {
        width: 50%;
        height: 50px !important;
        margin: 0;
    }

    small {
            color: #868686;
            font-weight: normal;
        }

        .toggle-header{
            width: 100%;
            ion-icon{
                float: right;
            }
        }
    ion-content {
        background-color: #f2f2f2 !important;
        top: 45px;
    }
    .hidden-div {
        margin-top: 30px;
    }
    p.white {
        color: #f2f2f2;
        margin: 0;
    }

    .button-clear-md, .button-clear-ios {
        background-color: #f2f2f2;
        color: #bfbfbf !important;
    }
    .right-border {
        border-right: 1px solid #f2f2f2;
    }
   
    .action-btn {
        background: #f4512c;
        color: #f2f2f2;
        text-transform: uppercase;
        box-shadow: none;
        border: none;
        padding: 10px !important;
        border-radius: 6px !important;
        font-size: 14px !important;
        height: 3.6rem !important;
        .button-inner{
            width: 100px !important;
            font-family:'Conv_SanFranciscoDisplay-Semibold',Sans-Serif !important;
            font-size: 14px !important;
        }
    }
    ion-card {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
           border: 2px solid #b6b6b6;

        }
         .organization-bg {
            height: 195px;
            position: relative;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            .bottom-excerpt {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
                padding: 10px;
                font-weight: 600;
                right: 0;
                left: 0;
                top: 0;
                align-items: flex-end;
                display: flex;
                p {
                    font-size: 17px;
                    width: 70%;
                    margin-bottom: 10px;
                }
            }
        }
        .days-excerpt {
            position: absolute;
            padding: 10px;
            background: #e7b157;
            font-weight: 600;
        }
        .railled-excerpt {
            position: absolute;
            right: 0;
            padding: 20px;
            font-weight: 600;
            bottom: 20px;
            align-items: center;
            display: flex;
            justify-content: center;
            z-index: 99;
            p {
                text-align: center;
                strong {
                    font-size: 20px;
                }
            }
        }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }
        .link {
            color: #4a90e2;
            line-height: 30px;
        }
       
        .grayBg {
            background-color: #4a4a4a;
            padding: 10px;
        }
        ion-list {
            ion-item {
                border-bottom: 1px solid #c8c7cc !important;
            }
        }
    }

    .test{
        height: 50px;
    }

    .flex-center{
        width: 100%;
        text-align: center;
        padding: 15px 0;

        h2{
            font-size: 20px;
        }
        button{
            background: #fff;
            border: 1px solid #989898;
            border-radius: 6px;
            color: #998899 !important;
            margin-top: 10px;
            min-width: 100px;
            padding: 5px 10px;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            font-family: 'Conv_SanFranciscoDisplay-Semibold' !important;
            letter-spacing: -0.36px;
            height: 32px;

            .button-inner{
                font-weight: normal;
                font-family: 'Conv_SanFranciscoDisplay-Semibold' !important;
                font-size: 14px;
                height: 20px;
                display: inline-block;
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}