page-organization-action {
    ion-header {
        text-align: center;
    }
    .toolbar-background {
        background-color: #4a90e2;
        color: #fff;
    }
    ion-content {
        background-color: #f2f2f2 !important;
        top: 60px;
    }
    .hidden-div {
        margin-top: 30px;
    }
    p.white {
        color: #fff;
        margin: 0;
    }
    .button-clear-md {
        background-color: #4a90e2;
        color: #fff;
        height: 30px;
    }
    .action-btn {
        height: auto;
        padding: 5px 10px;
        background: transparent;
        color: #222;
        border: 1px solid #222;
        font-size: 12px;
        text-transform: uppercase;
        box-shadow: none;
    }
    ion-card {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        .item-md ion-avatar img,
        .item-ios ion-avatar img {
            border-radius: 0;
        }
        .organization-bg {
            height: 240px;
            position: relative;
            .bottom-excerpt {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                padding: 10px;
                font-weight: 600;
                p {
                    font-size: 17px;
                }
            }
        }
        .days-excerpt {
            position: absolute;
            padding: 10px;
            background: #e7b157;
            font-weight: 600;
        }
        .railled-excerpt {
            position: absolute;
            right: 0;
            padding: 20px;
            background: #4a90e2;
            font-weight: 600;
            p {
                strong {
                    font-size: 20px;
                }
            }
        }
        .fab-md-light,
        .fab-ios-light {
            background: none;
            border: none;
            box-shadow: none;
        }
        .blue {
            background-color: #4a90e2;
            border-right: 1px solid #fff;
        }
        .link {
            color: #4a90e2;
            line-height: 30px;
        }
        .button-clear-ios {
            color: #fff;
            height: 30px;
        }
        .grayBg {
            background-color: #4a4a4a;
            padding: 10px;
        }
        ion-list {
            ion-item {
                border-bottom: 1px solid #c8c7cc !important;
            }
        }
    }
}