<rally-orange-header></rally-orange-header>


<ion-content>
    <ion-card>

        <ion-fab right top>
            <button ion-fab color="light"><ion-icon name="ios-more"></ion-icon></button>
            <ion-fab-list side="left">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>
        </ion-fab>

        <ion-item>
            <ion-avatar item-start>
                <img src="{{orgPhoto}}">
            </ion-avatar>
            <h2><small>via</small> {{orgName}}</h2>
            <p><small>{{date | amTimeAgo}}</small></p>
        </ion-item>

        <div class="organization-bg" [ngStyle]="{ 'background-image' : 'url(' + objectivesMedia +')'}">
 
            <div class="railled-excerpt">
                <p class="white"><strong>{{rallies}}</strong><br> Railled</p>
            </div>
            <div class="bottom-excerpt">
                <p class="white">{{objTitle}}</p>
            </div>
        </div>




        <ion-card-content>
            <p>{{orgDescription}}</p>

        </ion-card-content>
        <ion-list>
            <ion-item text-wrap *ngFor="let d of information; let i=index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
                <div class="toggle-header">{{d.title}}
                    <ion-icon [name]="isGroupShown(i) ? 'ios-remove' : 'ios-add'" item-end></ion-icon>
                </div>

                <div *ngIf="isGroupShown(i)" class="hidden-div">
                    <p>{{d.description}}</p>
                </div>
            </ion-item>
        </ion-list>
        <ion-row *ngIf="!enable">
            <div class="flex-center">
                <h2>No representatives</h2>
                <button ion-button color="dark" clear (click)="finReps()">FIND MY REPS</button>
            </div>
        </ion-row>
        <ion-list *ngIf="enable">
                <ion-item (click)="finReps()">
                   <h2>YOUR REPRESENTATIVES</h2>
                   <p>Address goes here</p>
                   <ion-icon name="md-create" item-end></ion-icon>
                </ion-item>
            <ion-item *ngFor="let rep of reps">
                <ion-avatar item-start>
                    <img src="{{rep.photo_url}}" style="border-radius: 50%;">
                </ion-avatar>
                <h2>{{rep.name}}</h2>
                <p><small>Senator of {{rep.state_name}}</small></p>
                <button (click)="presentActionSheet()" item-end ion-button color="dark" class="action-btn">Contact</button>
            </ion-item>
          
        </ion-list>



    </ion-card>

    <div class="test"></div>


</ion-content>

<ion-footer>
    <ion-toolbar style="min-height: auto; padding: 0;">
        <ion-row>
            <button class="btn-50 right-border" ion-button icon-left clear full (click)="getLikeStatus($event, goal_id, goalLike)" [ngStyle]="{'background-color': findInLoop(actions?.actions)}">
                <ion-icon name="md-heart" ios="md-heart" md="ios-heart" ></ion-icon>
                {{likes}}
            </button>
            <button class="btn-50" ion-button icon-left clear full  (click)="shareController(objTitle, 'assets/img/login-image.jpg', goal_id, shareAction, $event)">
        <ion-icon name="ios-share-alt"></ion-icon>
        {{shares}}
      </button>

        </ion-row>
    </ion-toolbar>
</ion-footer>