<rally-name-header name="My Representatives"></rally-name-header>
<ion-content>
  <ion-list>
      <ion-list-header>
          YOUR ADDRESS
        </ion-list-header>
    <ion-item (click)="finReps()">
        <ion-icon name="ios-pin-outline" item-start></ion-icon>
          {{repAddress}}
       <ion-icon name="md-create" item-end></ion-icon>
    </ion-item>


</ion-list>


<ion-list>
    <ion-list-header>
        STATE
      </ion-list-header>
            <ion-item *ngFor="let rep of statereps"> 
                    <ion-avatar item-start (click)="getID(rep.id)">
                        <img src="{{rep.photo_url}}" style="border-radius: 50%;">
                    </ion-avatar>
                    <h2 text-wrap (click)="getID(rep.id)">{{rep.full_name}}</h2>
                    <p text-wrap><small>{{transform(rep.state)}} State Representative</small></p>
                    <ion-row item-end text-right style="display: block; max-width: 120px;" >
                        <ion-col col-6 style="padding: 0;">
                            <button ion-button color="dark" class="action-btn btn-follow" (click)="getRepStatus(rep.id, $event)" >Follow</button>
                        </ion-col>
                        <ion-col col-6 style="padding: 0;">
                            <button class="action-btn contact-btn" (click)="getRepStateID(rep, rep.url ,rep.twitter_url,rep.url, rep.id, rep.offices)" ion-button color="dark" >Contact</button>
                        </ion-col>
                    </ion-row>
                </ion-item>
    
</ion-list>


<ion-list>
    <ion-list-header>
        FEDERAL
      </ion-list-header>
      <ion-item *ngFor="let rep of reps">
        <ion-avatar item-start (click)="getID(rep.bioguide)">
            <img src="{{rep.photo_url}}" style="border-radius: 50%;">
        </ion-avatar>
        <h2 text-wrap (click)="getID(rep.bioguide)">{{rep.name}}</h2>
        <p text-wrap><small>House Representative of {{rep.state_name}}</small></p>
        <ion-row item-end text-right style="display: block; max-width: 120px;" >
            <ion-col col-6 style="padding: 0;">
                <button ion-button color="dark" class="action-btn btn-follow" (click)="getRepStatus(rep.bioguide, $event)" >Follow</button>
            </ion-col>
            <ion-col col-6 style="padding: 0;">
                <button class="action-btn contact-btn" (click)="getRepID(rep, rep.civil_services_url ,rep.twitter_url,rep.contact_page, rep.bioguide)" ion-button color="dark" >Contact</button>
            </ion-col>
        </ion-row> 
    </ion-item>
    <ion-item *ngFor="let rep of senators"> 
        <ion-avatar item-start (click)="getID(rep.bioguide)">
            <img src="{{rep.photo_url}}" style="border-radius: 50%;">
        </ion-avatar>
        <h2 text-wrap (click)="getID(rep.bioguide)">{{rep.name}}</h2>
        <p text-wrap><small>Senator of {{rep.state_name}}</small></p>
        <ion-row item-end text-right style="display: block; max-width: 120px;" >
            <ion-col col-6 style="padding: 0;">
                <button ion-button color="dark" class="action-btn btn-follow" (click)="getRepStatus(rep.bioguide, $event)" >Follow</button>
            </ion-col>
            <ion-col col-6 style="padding: 0;">
                <button class="action-btn contact-btn" (click)="getRepID(rep, rep.civil_services_url ,rep.twitter_url,rep.contact_page, rep.bioguide)" ion-button color="dark" >Contact</button>
            </ion-col>
        </ion-row>
    </ion-item>
    
</ion-list>

<div style="height:60px;"></div> 
</ion-content>